<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragmentAdmin :: header"></head>
<body class="sb-nav-fixed">

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div>
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div th:if="${message}">
                                <p class="alert alert-info  alert-dismissible fade show">[[${message}]]</p>
                            </div>
                            <div class="form-group">
                                <span>You have account? <a th:href="@{/admin/login}">Login here</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2022</div>
                    <div>
                        <a href="">Privacy Policy</a>
                        &middot;
                        <a href="">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>

<div th:replace="admin/fragmentAdmin :: footer"></div>
</body>
</html>


</body>
</html>