<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragmentAdmin :: header"></head>
<body class="sb-nav-fixed">

<nav th:replace="admin/fragmentAdmin :: top-bar"></nav>

<div id="layoutSidenav">

    <div th:replace="admin/fragmentAdmin :: nav"></div>

    <div id="layoutSidenav_content">
        <main class="container" style="width = 100%">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="card-header bg-secondary border-0 mt-5">
                        <h4 class="font-weight-semi-bold m-0">ORDER DETAIL</h4>
                    </div>
                    <div class="row card mt-5 mb-5">
                        <div class="col-6 card-body border-secondary">
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">OrderCode</h6>
                                <h6 class="font-weight-medium">[[${order.orderCode}]]</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">FullName</h6>
                                <h6 class="font-weight-medium">[[${order.cus_fullName}]]</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Phone No</h6>
                                <h6 class="font-weight-medium">[[${order.cus_phone}]]</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Email</h6>
                                <h6 class="font-weight-medium">[[${order.cus_email}]]</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Address</h6>
                                <h6 class="font-weight-medium">[[${order.cus_address}]]</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Note message</h6>
                                <h6 class="font-weight-medium">[[${order.cus_note}]]</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Phương thức thanh thoán</h6>
                                <h6 class="font-weight-medium"
                                    th:text="${order.payments == 1} ? 'Tiền mặt' : 'Paypal'"></h6>
                            </div>

                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, iterStat : ${orderDetailList}">
                            <td th:text="${iterStat.count}"></td>
                            <td><img alt="" style="width: 50px;" th:src="@{'/getImage/' + ${item.product.image}}"/>
                                [[${item.product.name}]]
                            </td>
                            <td>$[[${item.product.cost}]]</td>
                            <td>[[${item.quantity}]]</td>
                            <td>$[[${item.amount}]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>

<div th:replace="admin/fragmentAdmin :: footer"></div>
</body>
</html>
