<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragmentAdmin :: header"></head>
<body class="sb-nav-fixed">

<nav th:replace="admin/fragmentAdmin :: top-bar"></nav>

<div id="layoutSidenav">

    <div th:replace="admin/fragmentAdmin :: nav"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center my-4 text-primary">Sale All Product</h3></div>
                            <div class="card-body">
                                <form th:action="@{/admin/products/processingSaleAllProduct}" method="post">
                                    <div class="form-group">
                                        <label>Sale: </label>
                                        <input class="form-control" type="number" name="sale" required min="1" max="100" step="1" />
                                    </div>
                                    <button type="submit" class="btn btn-primary">SALE ALL PRODUCT</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>

<div  th:replace="admin/fragmentAdmin :: footer"></div>
</body>
</html>
