<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="customer/fragmentCustomer :: header"></head>

<body>

<!-- Contact Start -->
<div class="container pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-5 mb-5">
      <img class="img-fluid w-100" th:src="@{/customer/img/product-2.jpg}" alt="">
    </div>
    <div class="col-lg-7 mb-5">
      <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">FORGOT PASSWORD</span></h2>
      </div>
        <div class="mb-3 text-muted">Enter your email address and we will send you a link
            to reset your password.
        </div>
      <div class="contact-form">
        <div id="success"></div>
        <form th:action="@{/shop/processingForgotPassword}" method="post">
            <div th:if="${error}">
                <p class="alert alert-danger  alert-dismissible fade show">[[${error}]]</p>
            </div>
            <div th:if="${message}">
                <p class="alert alert-info  alert-dismissible fade show">[[${message}]]</p>
            </div>
          <div class="control-group">
            <input type="email" class="form-control" name="email" id="Email" placeholder="Email"/>
            <p class="help-block text-danger"></p>
          </div>
          <div>
            <button class="btn btn-primary py-2 px-4 btn-block" type="submit" id="sendMessageButton">Send New Password to Your Email
            </button>
            <p class="help-block text-danger"></p>
          </div>
        </form>
      </div>
      <div class="text-center py-3">
        <div class="small"><a th:href="@{/shop/login}">Return to login</a></div>
        <p class="help-block text-danger"></p>
        <div class="small"><a th:href="@{/shop/register}">New account? Sign up!</a></div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/customer/lib/easing/easing.min.js}"></script>
<script th:src="@{/customer/lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/customer/js/main.js}"></script>
</body>

</html>