<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="customer/fragmentCustomer :: header"></head>

<body>

<!-- Contact Start -->
<div class="container pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-5 mb-5">
      <img class="img-fluid w-100" th:src="@{/customer/img/product-2.jpg}" alt="">
    </div>
    <div class="col-lg-7 mb-5">
      <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">CREATE ACCOUNT</span></h2>
      </div>
      <div class="contact-form">
        <div id="success"></div>
        <form th:action="@{/shop/processingRegistration}" method="post" th:object="${userDTO}">
          <div th:if="${success}">
            <h4 style="color: green">Registration account successfully!</h4>
          </div>
          <div>
            <p class="alert alert-danger" th:if="${passwordNotValid}"
               th:text="${passwordNotValid}">
          </div>
          <div class="control-group">
            <input type="text" class="form-control" th:field="*{fullName}" id="FullName"
                   placeholder="FullName"/>
            <p class="alert alert-danger  alert-dismissible fade show" th:if="${#fields.hasErrors('fullName')}"
               th:errors="*{fullName}">
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <input type="email" class="form-control" th:field="*{email}" id="Email" placeholder="Email"/>
            <p class="alert alert-danger  alert-dismissible fade show" th:if="${#fields.hasErrors('email')}"
               th:errors="*{email}">
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <input type="password" class="form-control" th:field="*{password}" id="Password"
                   placeholder="Password"/>
            <p class="alert alert-danger  alert-dismissible fade show" th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}">
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <input type="password" class="form-control" th:field="*{confirmPassword}" id="ConfirmPassword"
                   placeholder="Confirm Password"/>
            <p class="alert alert-danger  alert-dismissible fade show" th:if="${#fields.hasErrors('confirmPassword')}"
               th:errors="*{confirmPassword}">
            <p class="help-block text-danger"></p>
          </div>
          <div>
            <button class="btn btn-primary btn-block py-2 px-4" type="submit" id="sendMessageButton">Create Account
            </button>
            <p class="help-block text-danger"></p>
          </div>
        </form>
      </div>
      <div class="text-center py-3">
        <p class="help-block text-danger"></p>
        <div class="small"><a th:href="@{/shop/login}">Have an account? Go to login</a></div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/customer/lib/easing/easing.min.js}"></script>
<script th:src="@{/customer/lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/customer/js/main.js}"></script>
</body>

</html>