<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="customer/fragmentCustomer :: header"></head>

<body>

<!-- Contact Start -->
<div class="container pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-5">
            <img class="img-fluid w-100" th:src="@{/customer/img/product-2.jpg}" alt="">
        </div>
        <div class="col-lg-7 mb-5">
            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">RESET PASSWORD</span></h2>
            </div>
            <div class="card-body">
                <form th:action="@{/shop/reset_password}" method="post"
                      style="max-width: 350px; margin: 0 auto;">
                    <div th:if="${errorPassword}">
                        <p class="alert alert-info  alert-dismissible fade show">[[${errorPassword}]]</p>
                    </div>
                    <input type="hidden" name="token" th:value="${token}"/>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" required/>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="newPassword" required/>
                    </div>
                    <div class="border border-secondary rounded p-3">
                        <p class="text-center">
                            <input type="submit" value="Change Password" class="btn btn-primary btn-block"/>
                        </p>
                    </div>
                </form>
            </div>
            <div class="text-center py-3">
                <p class="help-block text-danger"></p>
                <div class="small"><a th:href="@{/shop/login}">Have an account? Go to login</a></div>
            </div>

        </div>
    </div>
</div>
<!-- Contact End -->


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/customer/lib/easing/easing.min.js}"></script>
<script th:src="@{/customer/lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/customer/js/main.js}"></script>
</body>

</html>
